Change definition of language tags

RDF 1.1 refers to [BCP47](http://tools.ietf.org/html/bcp47) instead of RFC 3066.

[RFC 3066](https://datatracker.ietf.org/doc/html/rfc3066) has also been superseded by RFC 4646 and RFC 4647.